trigger: 
  - main
pool: pip_agent

stages:
- stage: precommit
  displayName: pre_commit
  jobs:
  - job: terraformValidate
    displayName: terraform validate
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendServiceArm: 'pipservice'
        backendAzureRmStorageAccountName: 'vmst0070'
        backendAzureRmContainerName: 'vmcontainer07'
        backendAzureRmKey: 'infra.tfstate'

# - stage: SoftwareCompositionAnalysis
#   displayName: Software Composition Analysis (Dependency Security)
#   jobs: 
#   - job: DependencyVulnerabilityScan
#     displayName: Dependency Vulnerability Scan (Retire.js)
#     steps: 
#     - task: PowerShell@2
#       displayName: Run Dependency Security Scan
#       inputs: #
#         targetType: 'inline'
#         script: |
#           npm install -g retire
#           npm install
#           retire --exitwith 0

- stage: staticCodeAnalysis
  displayName: static code analysis
  jobs:
    - job: SonarQubeAnalysis
      displayName: Sonar Qube analysis
      steps:
      # - task: PowerShell@2
      #   inputs:
      #     targetType: 'inline'
      #     script: 'sonar -D sonar.host.url=http://localhost:9000 -D sonar.login=sqp_af3e9fc6955f19647f7115f1efe97d7b8f4f05c6 -D sonar.projectKey=pip_infra' 

      # workingDirectory: '$(Build.SourcesDirectory)/src'
        - task: SonarQubePrepare@8
          inputs:
            SonarQube: 'sonarconnection'
            scannerMode: 'cli'
            configMode: 'manual'
            cliProjectKey: 'pip_infra'
            cliProjectName: 'todo-app'
            cliSources: '.'
        - task: SonarQubePublish@8
          inputs:
            pollingTimeoutSec: '300'
      #  - task: SonarQubeAnalyze@8
      # displayName: Run SonarQube Analysis
      # inputs:
      #   jdkversion: 'JAVA_HOME_17_X64'


- stage: Yamllinting
  displayName: Yaml lint
  jobs:
    - job: indentation_sensitive
      displayName: indentation-sensitive
      steps:
       - task: PowerShell@2
         continueOnError: true
         displayName: Yaml liniting
         inputs:
          targetType: 'inline'
          script: |
            pip install --user yamllint
            yamllint $(System.DefaultWorkingDirectory)