trigger: none 
pool: Default

stages:
- stage: precommit
  displayName: pre_commit
  jobs:
  - job: terraformValidate
    displayName: terraform validate
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendServiceArm: 'pipservice'
        backendAzureRmStorageAccountName: 'vmst0070'
        backendAzureRmContainerName: 'vmcontainer07'
        backendAzureRmKey: 'infra.tfstate'
    
