trigger: none 
pool: pip_agent

stages:
- stage: precommit
  displayName: pre_commit
  jobs:
  - job: terraformValidate
    displayName: terraform validate
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendServiceArm: 'pipservice'
        backendAzureRmStorageAccountName: 'vmst0070'
        backendAzureRmContainerName: 'vmcontainer07'
        backendAzureRmKey: 'infra.tfstate'

- stage: SoftwareCompositionAnalysis
  displayName: Software Composition Analysis (Dependency Security)
  jobs: 
  - job: DependencyVulnerabilityScan
    displayName: Dependency Vulnerability Scan (Retire.js)
    steps: 
    - task: PowerShell@2
      displayName: Run Dependency Security Scan
      inputs: #
        targetType: 'inline'
        script: |
          npm install -g retire
          npm install
          retire --exitwith 0
# - stage: static code analysis
#   displayName: static code analysis
#   jobs:
#     - job: SonarQubeAnalysis
#       displayName: Sonar Qube analysis
#       steps:

        
- stage: Yamllinting
  displayName: Yaml lint
  jobs:
    - job: indentation_sensitive
      displayName: indentation-sensitive
      steps:
       - task: PowerShell@2
         continueOnError: true
         displayName: Yaml liniting
         inputs:
          targetType: 'inline'
          script:
            pip install --user yamllint
            yamllint $(System.DefaultWorkingDirectory)